<h1>Fletsy: Like Etsy, but for <em><strong>Trap Queens ONLY</strong></em></h1>
<h2>Remy Boyz, yeaahhhh<br>
	1738</h2><br>

<h4>I'm like "hey, what's up, hello"<br>
Seen yo pretty face soon as you came in that door<br>
I just wanna chill, got a sack for us to roll<br>
Married to the money, introduced her to my stove<br>
	<a href="http://supersonic-winterfell-55-158841.use1.nitrousbox.com/listings/new" target="_blank">Posted it to Fletsy</a>, now she remixin' for low<br>
She my trap queen, let her hit the bando<br>
We be countin' up, watch how far them bands go<br>
We just made a listing, talkin' matchin' Lambos<br>
Got 50, 60 grand, 500 grams though<br>
Man, I swear I love her how she work the trap code<br>
Hit the iLab, we be letting bands go<br>
Everybody hating, we just call them fans though<br>
In love with the money, I ain't never letting go</h4><br>
<br>
<h3>[Hook]<br>
And I devise with my baby<br>
I just left the mall, I'm gettin' fly with my baby, yeaaahhh<br>
And I push live with my baby<br>
I be in the kitchen cookin' pies with my baby, yeaaahhh<br>
And I devise with my baby<br>
I just left the mall, I'm gettin' fly with my baby, yeaaahhh<br>
And I push live with my baby<br>
	I be in the kitchen cookin' pies with my baby</h3><br>
<br>
<h4>[Verse]<br>
I hit the lab with my trap queen cause all we know is bands<br>
I just might snatch up a 'Rari and buy my boo a Lamb'<br>
I might just snatch her a necklace, drop a couple on a ring<br>
She ain't wantin' for nothin' because I got her everything<br>
It's big Zoo Wap from the bando, without dinero can't go<br>
Remy Boyz got the stamp, though<br>
Count up hella, them bands though<br>
How far can your bands go?<br>
Fetty Wap I'm living fifty thousand K how I stand though<br>
	If you checkin' for my pockets I'm like<br></h4>
<br>
<h3>[Hook + Bridge]<br>
<br>
[Outro]<br>
	I be rake migratin, you know <a href="http://getbootstrap.com/" target="_blank"><strong>Bootstrap</strong></a> what I roll<br>
Remy Boyz, Fetty code the cleanest that's fasho<br>
I'll run in ya house, then I'll parse yo code<br>
	Cause Remy Boyz or nothin', Re-Re-Remy Boyz or nothin'</h3>
<br>
<h2>Yeah, you hear my girl<br>
	Lookin like a zillion bucks on <strong><a href="https://github.com/shelbsimone/fletsy" target="_blank">Github</a></strong><br>
Got whatever I'm up for it<br>
Put your money where your mouth is<br>
Repo on the wood make the game go good<br>
Repo outta site cause fights<br>
Put up or shut up, huh<br>
Knit the grit<br>
SSW Productions</h2>
	<br><br><br><br><br><br>
	
	<p><small><a href="https://www.youtube.com/watch?v=i_kF4zLNKio" target="_blank">squaaaaaaaaad</a></small></p>
